<div class="row" style="margin-top: 50px;">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="page-header">Sign In Trello</h1>
        <div class="form-group">
          <input ng-model="username" class="form-control input-lg" placeholder="Username,eg: xx@gmail.com" />
        </div>
        <div class="form-group">
          <button ng-click="login()" class="btn btn-primary btn-block btn-lg">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>